{{define "page"}}
<h1>
  {{.Email}}
</h1>
<h2>
  {{.ID}}
</h2>

<form action="/signout" method="POST" class="pr-4">
  <div class="hidden">
    {{ csrfField }}
  </div>
  <button type="submit">Sign out</button>
</form>
{{ end }}
